#Projects-Sec{
    background-color:#2D2E2E;
    width: 100%;
    position: relative;
    top: 131.42px;
    padding-top: 3rem;
    padding-bottom: 4rem;
    font-family: 'Mulish', sans-serif;

}

#proj-head{
    color: #BBFF00;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
}

.proj-box{
    width: 48%;
}

.proj-title{
    color: #BBFF00;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.proj-box img:hover{
    box-shadow: #000000 0px 0px 10px;
}

.btn-more{
    border-radius: 50px;
    color: #000000;
    background-color: #ffffff;
    border: none;
    padding: 7px 26px;
    margin-bottom: 1rem;
}

.btn-more:hover{
    background-color: #BBFF00;
    box-shadow: #BBFF00 0px 0px 5px;
}

.proj-box i{
    text-decoration: none;
    font-size: 40px;
    color: #ffffff;
    padding-left: 20px;
    position: relative;
    top: 10px;
}

.proj-box i:hover{
    color: #BBFF00;
}

@media screen and (max-width: 768px) {
    #Projects-Sec{
        top: 0px;
    }

    .proj-box{
        width: 100%;
    }
}