#menu-bar {
    background: #141516;
    /* background: #ffffff; */
    position: fixed;
    top: 0px;
    z-index: 999;
}

#logo {
    width: 200px;
    height: auto;
    padding: 20px 0px;
}

#menu-list {
    display: flex;
    float: right;
    align-items: center;
}

.nav-link {
    color: #BBFF00;
    padding: 53px 0px;
    margin-left: 50px;
}

.nav-link:hover {
    color: #000000;
}


#menu-icon {
    display: none;

}

@media screen and (max-width: 768px) {

    #menu-bar {
        position: relative;
        top: 0px;
    }

    #logo {
        width: 150px;
    }

    .row{
        margin: 0;
    }

    #menu-list {
        display: none;
    }

    #menu-list2 {
        display: block;
        /* background: rgba(255, 255, 255, 0.308); */
        background: #2B2C2C;    
        position: absolute;
        top: 109.13px;
        left: 0;
        width: 100%;
    }

    .nav-link {
        margin: 0;
        margin-right: 95px;
        color: #000000;
        text-align: right;
        padding: 10px 0px;
    }

    .nav-link:hover {
        color: #ffffff;
    }

    #menu-icon {
        color: #BBFF00;
        font-size: 30px;
        cursor: pointer;
        display: block;
        float: right;
        padding: 32px 0px;
    
    }

}