#menu-bar {
    background: #2B2C2C;
    /* background: #ffffff; */
    position: sticky;
    top: 0px;
    z-index: 999;
}

#logo {
    width: 200px;
    padding: 20px 0px;
}

#menu-list {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    /* color: #798692; */
    color: #E0A80D;
    padding: 27px 0px;
    margin-left: 50px;
}

.nav-link:hover {
    color: #000000;
}


#menu-icon {
    color: #E0A80D;
    font-size: 30px;
    cursor: pointer;
    display: none;
    float: right;
    padding: 16px 0px;

}

@media screen and (max-width: 768px) {

    /* #menu-bar {
        position: fixed;
    } */

    .row{
        margin: 0;
    }

    #menu-list {
        display: none;
    }

    #menu-list2 {
        display: block;
        /* background: rgba(255, 255, 255, 0.308); */
        background: #2B2C2C;    
        position: absolute;
        top: 78.13px;
        left: 0;
        width: 100%;
    }

    .nav-link {
        margin: 0;
        margin-right: 95px;
        color: #000000;
        text-align: right;
        padding: 10px 0px;
    }

    .nav-link:hover {
        color: #ffffff;
    }

    #menu-icon {
        display: block;
    }

}