.black-bg {
    background-color: rgba(20, 20, 20, 0.719);
    width: 100%;
    min-height: 100vh;
    position: relative;
    top: 131.42px;
    z-index: 99;
}

#home-bg {
    position: fixed;
    top: 0px;

}

#home-content {
    margin-top: 150px;
    margin-bottom: 150px;
}

p {
    font-family: 'Mulish', sans-serif;
    margin-bottom: 0;
}

#text-1 {
    font-size: 20px;
    font-weight: lighter;
    color: white;
    letter-spacing: 1px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

#dynamic-text {
    list-style: none;
    padding: 0px;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #BBFF00;
}

#text-2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
    color: white;
    font-family: 'Mulish', sans-serif;

}

#btn-cv {
    padding: 8px 25px;
    border-radius: 50px;
    color: white;
    background-color: transparent;
    border: 2px solid #BBFF00;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;


}

@media screen and (max-width: 768px) {
    .black-bg {
        top: 0px;
    }

    #dynamic-text {
        font-size: 40px;
        ;
    }
}