#Contact-Sec {
    background-color: #2D2E2E;
    width: 100%;
    position: relative;
    top: 131.42px;
    padding-top: 4rem;
    padding-bottom: 4rem; 
}

#contact-us-head {
    color: #BBFF00;
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

#txt-box {
    padding: 10px 20px;
    border-radius: 10px;
}

#con-details{
    margin-top: 10px;
}

.icon {
    font-size: 20px;
    color: #BBFF00;
    border: 1px solid #BBFF00;
    padding: 9px 12.5px;
    border-radius: 100px;

}

.cus-txt {
    color: white;
}

#btn-send {
    width: 100%;
    padding: 7px 26px;
    border-radius: 10px;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    background-color: #BBFF00;
    border: 2px solid #BBFF00;

}

@media screen and (max-width: 768px) {
    
    #Contact-Sec {
        top: 0px;
    }

    #con-details{
        margin-top: 3rem;
        text-align: center;
    }
}